.back_all{
    height: 950px;
    background-color:#d1d1d1;
}


.title{
    text-align: center;
    margin: 0 25px  auto;
    font-family: 'Comforter Brush', cursive;
    font-size: 100px;
    font-weight: 900;
    color: #552929;
    padding-top: 40px;
    
}
.border{
    width: 650px;
    margin: 0 auto;
    border-bottom:1px solid #48480f  ;
}
.input_box{
    margin: 25px auto;
    width: 650px;
    display: flex;
    justify-content: center;

}
#input{
    width: 410px;
    height: 48px;
    margin-right: 40px;
    margin-top: 15px;
}
.btn_task{
    font-family: 'Fira Sans', sans-serif;
    background-color: #ff5c6e;
    padding: 15px;
    color: cornsilk;
    border-radius: 10px;
    border: 1px solid #d0a7a7;
    box-shadow:-2px 1px 8px  #420404;
    cursor: pointer;
}
.btn_task:hover{
    font-family: 'Fira Sans', sans-serif;
    background-color: #5cffae;
    padding: 15px;
    color: #48480f;
    border-radius: 10px;
    border: 1px solid #a7d0bd;
    box-shadow:-2px 1px 8px  #420404;
}
.task_box{
    display: flex;
    margin: 25px auto 10px;
    height: 50px;
    align-items:center;
    justify-content: center;
    width: 700px;
    background-color: #f3e1d1;
    border-radius:10px;
    border: 2px solid white;
    /* box-shadow: 0px 0px 9px 1px #558978; */
}

.task_descrp{
    min-width: 455px;
    font-family: 'Raleway', sans-serif;
    padding: 12px;
    font-size: 22px;
    font-weight: 300;
   
}

.del_block{
    display: flex;
    
}

#task_input{
   margin-top: 23px;
   margin-right: 15px;
}
.del_p{
    cursor: pointer;
    margin-top: 13px;
    margin-left: 15px;
    padding: 8px;
    background-color:crimson;
    color:ghostwhite;
    border-radius: 5px;
    font-family: 'Fira Sans', sans-serif;

}

.check
{
       
        background-color:#1a8247;
        width: 26px;
        height: 25px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        border-radius:5px;
        padding: 2px;
        font-family: 'Fira Sans', sans-serif;
        margin-right: 15px;
}
.del
{
       
        background-color:#f12f2f;
        width: 26px;
        height: 25px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        border-radius:5px;
        padding: 2px;
        font-family: 'Fira Sans', sans-serif;
}



