*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color:#e8e8e8;
}

  


.back_all::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd00;
  
}
.back_all::-webkit-scrollbar-thumb {
    background-color: #35da50ca;
    border-radius:5px;
}
.back_all::-webkit-scrollbar-track {
    margin: 20px   auto;

    
    height: 90%;
    border-radius: 10px;
   
  }

.start{
    position: absolute;
    right: 52px;
    top: 66px;
    padding: 10px 15px;
    width: 160px;
    height: 70px;
    border: 1px solid #e3eabc;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    background-color: #e3eabc7a;
    opacity: 0;
    transition: all 0.7s;
}
#form{
    width: 885px;
    display: flex;
    justify-content: start;
   
    margin: 0 auto;
    z-index: 10;
    overflow: hidden;
    
    
}
.back_all{
    height: 850px;
    max-width: 1050px;
    box-sizing: border-box;
    padding: 10px 25px;
    margin: 50px auto 0;
    background: #ffffff;
    border-radius:20px;
    position: relative;
   overflow: hidden;
    box-shadow: 0 0 21px 4px rgb(167, 167, 167);


   
}
.top
{
    display: flex;
    justify-content: space-between;
}

.title{
    text-align: center;
    margin: 0 25px auto;
    font-size: 40px;
    font-weight: 500;
    color: #595959;
    padding-top: 40px;
    position: relative;
    z-index: 3;
}
.border{
    width: 100%;
    margin: 0 auto;
    border-bottom:1px solid #48480f  ;
}
.modal_input
{
    padding: 15px 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    position: absolute;
    left: 120px;
    z-index: 10;
    width: 750px;
    background-color: #ffffff;
    transition:all 0.7s ease-in-out 0.4s;
    box-shadow: 0 0 40px 1px rgb(204 204 204 / 54%);
    transform: translateX(-875px);
}
label
{
    font-size: 23px;
    font-weight: 500;
    color: #0000009e;
}
.input_box{
    margin: 25px auto;
    width: 100%;
    display: flex;
    justify-content: center;
   

}
input{
    position: relative;
    
    height: 40px;
    outline:none;
    z-index: 3;
    border-radius:10px;
    border-color:rgba(0, 0, 0, 0);
    background-color:rgba(0, 0, 0, 0);
    color:#000000;
}
#inputTitle{
    padding-top: 15px;
    margin-left: 20px;
    font-weight: 400;
    width: 400px;
    font-size: 17px;
    margin-bottom: 20px;
    border: 1px solid #a8a8a82e;
    padding-left: 10px;
}
#inputDesc{
    padding: 15px 10px;
    
    margin-left: 20px;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 40px;
    border: 1px solid #a8a8a82e;
    outline: none;
    min-height: 150px;

}


.btn_open{
   
    font-weight: 400;

    color: #595959;
  
    cursor: pointer;
    transition: all 0.9s;
    position: relative;
    z-index: 3;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_del{
    
    font-weight: 400;
    background-color: #da4035ca;
    padding: 12px 25px;
    width: 140px;
    height: 50px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.9s;
    position: relative;
    z-index: 3;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
    backdrop-filter: blur(15px);
    margin-top: 10px;
}
button
{
    background-color: #2a2525b0;
    border: none;
    color: rgb(255 255 255);
    font-weight: 600;
    font-size: 24px;
    box-sizing: border-box;
    height: 40px;
    cursor: pointer;
    width: 120px;
    border-radius: 5px;
}


.task_field

{
   
    padding: 0;
    padding-inline-start: 0;
    max-width: 1000px;
    display: grid;
    justify-content: space-around;
    grid-template-columns:450px 450px ;
   
   
  

}

.task_item{
    box-sizing: border-box;
    padding: 15px 20px;
    display: grid;
    margin: 25px auto 10px;
    min-height: 75px;
    align-items:center;
    grid-template-columns: 350px 0px;
    width: 100%;
    background-color: #e3eabc7a;
    border-radius:10px;
    overflow-wrap: break-word;
    position: relative;
    z-index: 3;
    color: #595959;
   
    
}
input.placeholder{
    color:#1a8247;
}
.text_block{
        display: flex;
        flex-direction: column;
}
.task_title{
    width: 100%;
   
    padding: 2px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    text-decoration: underline;
    
   
}
.task_descr
{
    width: 85%;
    
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}
.task_item_btn
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#dots
{
    position: absolute;
    
    right: 14px;
    top: -35px;
    color: #3e3e3e61;
    cursor:pointer;
}
#dots:hover .menu {
    opacity: 1;
}
#dots span
{
    font-size: 50px;
}
.dots_menu
{
    display: none;
    position: absolute;
    box-shadow: 0 0 10px 1px rgb(159 159 159 / 67%);
    left: -70px;
    
}
.open{
    display: block;
}

#dots .btn
{
    font-size: 17px;
    background-color: #dcdcdc;
    padding: 5px 25px;
    color: black;
    border: 1px solid white;
    min-width: 60px;
    text-align: center;
    transition:ease-in-out 0.4s;
    
}
#dots .btn:hover
{
    
    background-color: #717171;
    color: rgb(255, 255, 255);
    
    
}

.done_box
{
    width: 10px;
    border-radius:10px;
    height: 100%;
    background-color:#a7a7a7;
}

.done{

    background-color:#1ed63c2e;
    text-decoration: line-through;
    color: #9999997d;
}




#task_input{
   margin-top: 23px;
   margin-right: 15px;
}
.del_p{
    cursor: pointer;
    margin-top: 13px;
    margin-left: 15px;
    padding: 8px;
    background-color:crimson;
    color:#a15b53;
    border-radius: 5px;
    

}


.alert {
    background-color: #5e3f3f;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    padding: 5px 12px;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    right: 0;
    top: -40px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.7s, opacity 0.7s linear;
    box-shadow: 0 0 8px 1px white;

}
.alert span{
   color:#ffffff;
   
   font-weight: 300;
   font-style: 21px;
    
}
.none{
    display: none;
}
.edit_back
{
    display: none;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cccccc6e;
    backdrop-filter: blur(1px);

}
.edit_field {
    display: none;
    position: absolute;
    box-shadow: 0 0 16px 1px rgb(193 193 193 / 71%);
    z-index: 10;
    left: 0;
    top: 0;
    padding: 7px 12px;
    width: 426px;
    height: 100%;
    background-color: #ecc2c0;
    border-radius: 5px;
}

.input_edit {
    box-sizing: border-box; 
    font-size: 17px;
    background-color: #ffffffc4;
    margin-bottom: 10px;
    
    border-radius: 5px;
    
    white-space: normal;
    display: flex;
    

}
#input_titleedit
{
    padding: 15px;
    width: 350px;
    height: 21px;
}
#input_descredit
{
    min-width: 351px;
    max-width: 60px;
    padding: 15px;
    max-height: 45%;
    border: 1px solid #f0f0f098;
    outline: none;
    
}

.editDone {
    position: absolute;
    font-size: 17px;
    background-color: #bab9b9;
    padding: 5px 25px;
    color: black;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: ease-in-out 0.4s;
    border-radius: 5px;
    cursor: pointer;
    right: 3px;
    top: 6px;

}

.editDone:hover{
    background-color: #717171;
    color: rgb(255, 255, 255);
}